/**
host: github.com
*/

.top-nav{display:none;}

#site-container > .container:first-child {margin-top:0;}

.header .container .notification-indicator,.header .container .divider-vertical
{height:34px;line-height:34px;}

.header-logo-blacktocat{padding-bottom:3px;padding-top:4px;}

#user-links a{padding-bottom:0;}

pre, code, tt, .diff-line-code {
	/* wrap diffs, this also fits inline comments in diffs to viewport width */
	/* XXX research pre-line vs pre-wrap */
	white-space: normal;
}

/* fit contribution graph into screen better at smaller widths */
svg {
	margin-left: -20px;
}

.site-footer {display:none;}

/*
(c)ommits
(i)issues
(p)ull requests
*/

.repo-nav-contents {display:none;}

/* repo navigation */
.overall-summary .numbers-summary li a {
	color: #444;
}

.overall-summary .numbers-summary li .num .octicon {
	display: none;
}

/* email address warning */
.flash-warn { display: none; }

/* repository navigation */
.repository-sidebar {display:none;}
